#diff-select{
    margin-bottom: 0.7em;
}

.timestamp-container-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#diff-footer{
    text-align: center;
}

yellow-diff-footer{
    background-color: #f7f417;
}

blue-diff-footer{
    background-color: #1d9efd;
}

.align-items-center > .col-auto {
    margin-left: auto;
    margin-right: auto;
}

.timestamp-select,
#year-select-left, #year-select-right,
.month-select {
    width: auto;
    padding-left: 1px;
    padding-right: 1px;
}

#explanation-middle{
    text-align: center;
}

#timestamp-left{
    display: inline-block;
    float: left;
    margin-left: 17.8%;
}

#timestamp-right{
    display: inline-block;
    float: right;
    margin-right: 17.8%;
}

.wayback-ymd-timestamp{
    display: flex;
}

.wayback-timestamps> * {
    margin-left: 10px;
    margin-right: 10px;
}

.wayback-timestamps {
    width: 42.86%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wayback-ymd-buttons > *{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wayback-ymd-buttons {
    width: 14.28%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
