#diff-select{
    margin-bottom: 0.7em;
}

.timestamp-container-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#diff-footer{
    text-align: center;
}

yellow-diff-footer{
    background-color: #f7f417;
}

blue-diff-footer{
    background-color: #1d9efd;
}

#timestamp-select-left, #timestamp-select-right,
#year-select-left, #year-select-right,
#month-select-right, #month-select-left{
    width: auto;
}

#explanation-middle{
    text-align: center;
}

#timestamp-left{
    display: inline-block;
    float: left;
}

#timestamp-right{
    display: inline-block;
    float: right;
}
